/* Modifications of existing classes */


/* New classes */

.data-tab {
  min-height: 300px;
  margin-top: 1em;
}

.plot-caption {
  margin: 0.5em 2em;
  font-size: smaller;
  font-style: italic;
  text-align: center;
}

.section-heading {
  border-bottom: 4px solid #ecf0f1;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
}

.pie {
  flex: 1;
  min-width: 250px;
  padding: 10px;
  border: 2px solid #ecf0f1;
  background: #ecf0f1;
  border-radius: 4px;
}
